div {
  box-sizing: border-box;
}

.App {
  margin: 0 auto;
  padding: 10px;
  width: 800px;
}

.section + .section {
  margin-left: 30px;
}

[data-spyable-heading=true] {
  color: #00bfff;
}

[data-spyable-heading=true]:not(:first-child) {
  margin-top: 60px;
}

.SpyableMarkdownTocWrapper {
  display: flex;

  justify-content: space-around;
}

.SpyableMarkdownPreview {
  width: 500px;
}

.SpyableTocWrapper {
  flex-grow: 1;
}

.SpyableToc {
  position: fixed;
  margin-top: 20px;
}

.SpyableTocItem {
  margin: 5px 0;
  padding: 3px 5px;
  width: auto;
  cursor: pointer;
  &:hover {
    color: #00bfff;
  }
}

.SpyableTocItem__h1 {
}

.SpyableTocItem__h2 {
  margin-left: 10px;
}

.SpyableTocItem__h3 {
  margin-left: 20px;
}

.SpyableTocItem__h4 {
  margin-left: 30px;
}

.SpyableTocItem__h5 {
  margin-left: 40px;
}

.SpyableTocItem__h6 {
  margin-left: 50px;
}

.SpyableTocItem--current {
  border-left: 2px solid #00bfff;
}
